include ./components/nav.pug
include ./components/ratiomodal.pug
include ./components/targetmodal.pug
include ./components/isfmodal.pug
include ./components/durationmodal.pug
section.section

	.grid.m-2.h-screen
		.grid-c-12.grid-r-3.level.u-flex.u-justify-space-around
			.card.p-2.hover-grow.u-round-lg
				.tile.u-items-center.u-flex-wrap.u-justify-center
					.tile__container.u-overflow-hidden.u-text-center.u-flex-row.mr-0
						h1#Bolus 0.0
					.tile__container.u-overflow-hidden.pl-0
						.form-group
							label.form-group-label.label--xs BG
							input#bg(type="number" placeholder="What's your BG?").input--xs.form-group-input
							button#GetCorrection(style="font-weight: bold;" data-tooltip="Calculate a Correction Bolus").form-group-btn.btn-primary.btn--xs CALC
						.form-group
							label.form-group-label.label--xs CB
							input#carbs(type="number" placeholder="How many Carbs?").form-group-input.input--xs
							button#SaveCorrection(style="font-weight: bold;" data-tooltip="Save a Correctino Bolus to history").form-group-btn.btn-primary.btn--xs SAVE
				.container
					.tag-container.group-tags.u-inline-flex.mb-0
						.tag.tag--xs.tag--dark Active Insulin
						#ActiveInsulinReduction.tag.tag--xs.tag--info 0.0
					.tag-container.group-tags.u-inline-flex.mb-0
						.tag.tag--xs.tag--dark BG Correction
						#BGCorrection.tag.tag--xs.tag--info 0.0
					.tag-container.group-tags.u-inline-flex.mb-0
						.tag.tag--xs.tag--dark CB Correction
						#CarbCorrection.tag.tag--xs.tag--info 0.0


		.grid-c-12.grid-r-9#my-chart
	
	footer.footer
		h6.footer__title.text-white.uppercase logo
		.content
			.divider
			.row
				.col-4
			p.subtitle bolus wizard

#Error.toast.toast--danger.u-z-30.u-fixed(style="bottom: -200px; right: 0;width: 100%;transition: any 400ms ease-in;margin: 0;")
	h4#Errormessage.toast__title
	p Looks like there has been an error!
#Success.toast.toast--success.u-z-30.u-fixed(style="bottom: -200px; right: 0;width: 100%;transition: any 400ms ease-in;margin: 0;")
	h4.toast__title Success
	p Yay it worked!