.modal#Duration
      .modal-content
            .modal-header
                  a(href='#').u-pull-right
                        span.icon X
                  .modal-title Active Insulin Duration
            .modal-body.m-0
                  p To Adjust your Active Insulin Duration time throughout the day edit the below text. Time is in 24-hour format. 
                  p Use the below example as a reference 
                  textarea#EditDuration(style="min-height: 150px;")
                  pre
                        code.mb-1
                              |{
                              |      "Duration": "02h00m"
                              |}
            .modal-footer.u-text-right
                  a(href="#").u-inline-block
                        input#SaveDuration(type="submit").btn-primary.pull-right