.header.header-fixed.u-unselectable.header-animated
	.header-brand
		.nav-item.no-hover
			a
				h6.title BolusWizard
		#header-btn.nav-item.nav-btn
			span
			span
			span
	#header-menu.header-nav
		.nav-left
			.nav-item.text-center
				a(href="#")
					p.m-0 {{.Username}}

		.nav-right
			#dropdown.nav-item.has-sub.toggle-hover
				a.nav-dropdown-link Settings
				ul.dropdown-menu.dropdown-animated(role="menu")
					li(role="menu-item")
						a(href="#Ratio") Carb Ratios
					li(role="menu-item")
						a(href="#Isf") Insulin Sensitivity Factor
					li(role="menu-item")
						a(href="#Duration") Active Isnulin Duration
					li(role="menu-item")
						a(href="#Target") BG Targets
			.nav-item
				a(href="/login") SignOut
