.modal#Ratio
      .modal-content
            .modal-header
                  a(href='#').u-pull-right
                        span.icon X
                  .modal-title Carb Ratios
            .modal-body.m-0
                  p To Adjust your Carb Ratios throughout the day edit the below text. Time is in 24-hour format. 
                  p Use the below example as a reference 
                  textarea#EditRatio(style="min-height: 350px;")
                  pre
                        code.mb-1
                            |  [
                            |        {
                            |              "Start":       "00h00m",
                            |              "End":         "05h59m",
                            |              "Ratio": 0.125
                            |        },
                            |        {
                            |              "Start":       "06h00m",
                            |              "End":         "23h59m",
                            |              "Ratio": 0.25
                            |        }
                            |  ]
            .modal-footer.u-text-right
                  a(href="#").u-inline-block
                        input#SaveRatio(type="submit").btn-primary.pull-right