<!DOCTYPE html>
<html>
  <head>
    <title>SignUp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge;">
    <link href="https://unpkg.com/cirrus-ui" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  </head>
  <body data-api-service="{{.API_SERVICE}}">
    <div class="hero fullscreen hero-img parallax-img" id="splash-img" style="background: url(/assets/loginpage/bg.gif); background-size: cover; background-position: center; box-shadow: inset 5px 0px 9px 1px #00000017; min-height: 100vh;">
      <div class="hero-body u-flex u-justify-space-around u-flex-wrap">
        <div class="content u-text-center" style="max-width:320px;">
          <h2 class="text-white">Sign Up for the Bolus Wizard!</h2>
        </div>
        <div class="content hover-grow u-shadow-xl p-4 u-text-center" style="max-width:320px; background-color: white; border-radius:15px;">
          <h6 class="font-alt">Please enter your new email and password!</h6>
          <div class="form-section">
            <div class="input-control">
              <input class="input-contains-icon" placeholder="Username" type="email" id="username"><span class="icon"><i class="fa fa-wrapper fa-envelope small"></i></span>
            </div>
            <div class="input-control">
              <input class="input-contains-icon" placeholder="Password" type="password" id="password"><span class="icon"><i class="fa fa-wrapper fa-lock small"></i></span>
            </div>
          </div>
          <div class="form-section-u-text-right">
            <div class="m-1 u-inline-block">
              <button class="btn-primary" id="signup">SignUp</button>
            </div>
            <div class="m-1 u-inline-block">
              <button class="btn-light" id="login">Login?</button>
            </div>
          </div>
          <div class="form-section u-text-right">
            <div class="m-1 u-inline-block" id="message"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/assets/signup/index.js"></script>