.hero.fullscreen
  .row.p-0
    .col-4.p-4.level.u-shadow-xl
      .u-text-left.w-100
        .content
          h4 Login to the Bolus Wizard!
          h6.font-alt Do you have your password???? 👋
          .divider
          .form-section
            label Username
            .input-control
              input#username.input-contains-icon(name='username' placeholder='Username' type='email' value='')
              span.icon
                i.fas.fa-wrapper.fa-user.small
            label Password
            .input-control
              input#password.input-contains-icon(name='password' placeholder='Password' type='password' value='')
              span.icon
                i.fas.fa-wrapper.fa-key.small
          .form-section.u-text-right
            .m-1.u-inline-block
              button#login.btn-info Login
            .m-1.u-inline-block
              button#signup.btn-light SignUp
          .form-section.u-text-right
            .m-1.u-inline-block#message
    .col-8.p-0
      .h-100(style='background: url(/assets/loginpage/bg.gif); background-size: cover; background-position: center; box-shadow: inset 5px 0px 9px 1px #00000017; min-height: 100vh;')
