nav
      p ND
      .selector
            #ratios.fa-solid.fa-pizza-slice(data-hover="Carb Ratios")
            #isfs.fa-solid.fa-divide(data-hover="Insulin Sensitivity Factor")
            #targets.fa-solid.fa-crosshairs(data-hover="BG Targets")
      .selector
            .fa-solid.fa-gear(data-hover="Settings")

main
      section.short
            .wizard#wizard
                  .result
                        h1#Result 0.0
                        button#save() Save
                  .details
                        input#bg(type="number" placeholder="BG")
                        input#carbs(type="number" placeholder="Carbs") 
                        span
                              i Carb Correction
                              strong#CarbCorrection 0.0
                        span
                              i BG Correction
                              strong#BGCorrection 0.0
                        span
                              i ISF Correction
                              strong#InsulinReduction 0.0
      sectionl#my-chart.tall

#modal.modal.hide
      .window 
            .fa-solid.fa-xmark#close
            .window-header 
                  h3 Carb Ratios
            .window-body 
                  textarea#editor() 
            .window-footer
                  p#success
                  button#update(data-update="") Update
            //-       .title Carb Ratios
            //-       button Save
            //- .editor#editor