script(src="/assets/portal/moment.js")
script(src="/assets/portal/loader.js")
script(src="/assets/portal/editor.main.nls.js")
script(src="/assets/portal/editor.main.js")
script(src="/assets/portal/chartist.js")
script(src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous")
script(src="https://unpkg.com/axios/dist/axios.min.js")
script(src="/assets/portal/index.js")
