svg(xmlns='http://www.w3.org/2000/svg'  xmlns:xlink='http://www.w3.org/1999/xlink' width='250' height='250' viewbox='0 0 250 250')
  defs
    style.
      .cls-1 {
      clip-path: url(#clip-NateD_Pills);
      border-radius: 50%;
      }
      .cls-2, .cls-3 {
      fill: #2d5a9e;
      }
      .cls-3 {
      stroke: #91f4ff;
      }
      .cls-3, .cls-4 {
      stroke-width: 10px;
      }
      .cls-4, .cls-7 {
      fill: #91f4ff;
      }
      .cls-7 {
      border-radius: 50%;
      }
      .cls-4 {
      stroke: #2d5a9e;
      }
      .cls-5 {
      stroke: none;
      }
      .cls-6 {
      fill: none;
      }
    clippath#clip-NateD_Pills
      rect(width='250' height='250')
  g#NateD_Pills.cls-1(data-name='NateD Pills' )
    rect.cls-7(width='250' height='250'  )
    path#Path_1.cls-2(data-name='Path 1' d='M0,0,250,250V0Z'  )
    g#Group_1(data-name='Group 1' transform='translate(123.562 -9.344) rotate(45)' )
      g#Rectangle_1.cls-3(data-name='Rectangle 1' transform='translate(30.787 62.404)')
        rect.cls-5(width='65.225' height='142.699' rx='32.613')
        rect.cls-6(x='5' y='5' width='55.225' height='132.699' rx='27.613')
      g#Rectangle_2.cls-4(data-name='Rectangle 2' transform='translate(96.012 -15.846)')
        rect.cls-5(width='65.225' height='142.7' rx='32.613')
        rect.cls-6(x='5' y='5' width='55.225' height='132.7' rx='27.613')
